@mixin googleFont($font) {
  @import url('https://fonts.googleapis.com/css2?family=#{$font}:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap');
}

@mixin boxShadow {
  -webkit-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.15);
}

@mixin icons {
  fill: $color-secondary;
  width: 4rem;
  height: 4rem;
  margin-right: 1.2rem;
  @media only screen and (max-width: 1000px) {
    width: 3rem;
    height: 3rem;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
