@include googleFont(Lato);

// === FONT ===
$font-primary: 'Lato', sans-serif;

// === COLORS ===
$color-primary: rgb(247, 247, 247);
$color-secondary: rgb(237, 76, 76);
$color-tertiary: rgb(116, 116, 116);
$color-tertiary-light: rgb(240, 240, 240);
$color-tertiary-dark: rgb(56, 56, 56);
