.message {
  display: grid;
  z-index: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-width: 50rem;
  @include boxShadow;
  background-image: linear-gradient(
    to right bottom,
    rgb(198, 153, 134),
    rgb(223, 212, 203)
  );
  @media only screen and (max-width: 1300px) {
    width: 80%;
  }
  @media only screen and (max-width: 660px) {
    width: 60rem;
  }
  @media only screen and (max-width: 450px) {
    width: 100%;
  }

  &__btn {
    border: none;
  }
  &__close {
    z-index: 300;
    font-size: 4rem;
    font-weight: 200;
    padding: 0.5rem 1.5rem;
    justify-self: end;
    margin-top: 2rem;
    margin-right: 2rem;
    color: $color-secondary;
    background-color: transparent;
    @media only screen and (max-width: 660px) {
      margin-right: 1rem;
      margin-top: 0rem;
    }
  }

  &__title {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    color: $color-tertiary-dark;
    margin-bottom: 2rem;
    @media only screen and (max-width: 1600px) {
      font-size: 3rem;
    }
    @media only screen and (max-width: 1300px) {
      font-size: 2.5rem;
    }
  }

  &__img {
    width: 30%;
    justify-self: center;
    margin-bottom: 2rem;
  }
}
